/* Menu */
.type-1 {
    float: left;
    display: block;
    background: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 1000;
  }
  
  .type-1 span {
    transition: all 0.3s;
    transform: rotate(0deg);
    width: 50px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
  }
  .type-1 .top {
    transform: translateY(-17px);
  }
  .type-1 .bottom {
    transform: translateY(17px);
  }
  .type-1.is-open span {
    background: #fff;
  }
  .type-1.is-open .middle {
    background: rgba(255, 255, 255, 0);
  }
  .type-1.is-open .top {
    transform: rotate(-45deg) translateY(0px);
  }
  .type-1.is-open .bottom {
    transform: rotate(45deg) translateY(0px);
  }
  #overlay {
    visibility: hidden;
    display: flex;
    transition: 0.3s linear;
    position: absolute;
    z-index: 900;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
  }
  #overlay.open {
    visibility: visible;
    opacity: 0.95;
  }
  body.scroll-lock {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
  input,
  textarea,
  select {
    -webkit-appearance: none;
  }