{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Site.Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
<meta property="og:image:url" content="{{ . | absURL }}">
{{ end }}
{{ else }}
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
<meta property="og:image:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{- if .Description }}
<meta property="og:description" content="{{ substr .Description 0 130 | plainify }}" />
<meta property="twitter:description" content="{{ substr .Description 0 130 | plainify }}" />
{{- else if .Summary }}
<meta property="og:description" content="{{ substr .Summary 0 130 | plainify }}" />
<meta property="twitter:description" content="{{ substr .Summary 0 130 | plainify }}" />
{{- else if .Site.Params.description }}
<meta property="og:description" content="{{ substr .Site.Params.description 0 130 | plainify }}" />
<meta property="twitter:description" content="{{ substr .Site.Params.description 0 130 | plainify }}" />
{{- end }}
{{ end }}

{{ define "main" }}
<main class="container mx-auto max-w-7xl flex my-4">
  <div class="w-full lg:w-3/4 px-2 dark:text-white">
    <div class="bg-white dark:bg-neutral-700 lg:flex p-7 rounded-t-xl">
      {{ if .Params.image }}
      <img class="rounded mx-auto w-auto h-48 lg:ml-0 lg:mr-8" src="{{ .Params.image | relURL }}" alt="thumbnail"/>
      {{ else }}
      <img class="rounded mx-auto w-auto h-48 lg:ml-0 lg:mr-8" src="{{ "/img/novel.svg" | relURL }}" alt="thumbnail"/>
      {{ end }}
      <div>
        <h1 class="title text-2xl my-3 font-bold">{{ .Title }}</h1>
        <p class="mb-3 text-xs opacity-70">
          {{ .Content | countwords }} {{ i18n "words" }}
          ({{ if eq .Site.Language.Lang "ja" }}読了目安: {{ end }}{{ math.Round (div (countwords .Content) 220.0) }}{{ i18n "minutes" }})
        </p>
        <p class="mb-2 text-sm opacity-80">{{ replaceRE "(https?://[a-zA-Z0-9\\-._~:/?#\\[\\]@!\\$&'()*\\+,;%=]+)" "<a href=\"$1\" class=\"text-cyan-600 opacity-100 hover:text-cyan-700 focus:text-cyan-700\">$1</a>" .Description | safeHTML }}</p>
        <div id="tags" class="flex gap-2 mb-2">
          {{ $r18tags := slice "r18" "R18" "r-18" "R-18" }}
          {{ $r15tags := slice "r15" "R15" "r-15" "R-15" }}
          {{ $matchedR18 := intersect .Params.tags $r18tags }}
          {{ $matchedR15 := intersect .Params.tags $r15tags }}

          {{ if gt (len $matchedR18) 0 }}
          {{ $tagName := index $matchedR18 0 }}
          <span class="text-sm inline-flex leading-4 content-center justify-center text-rose-600 font-semibold">
            <a href="{{ "tags" | absURL}}/{{ $tagName | urlize }}">R-18</a>
          </span>
          {{ else if gt (len $matchedR15) 0 }}
          {{ $tagName := index $matchedR15 0 }}
          <span class="text-sm inline-flex leading-4 content-center justify-center text-orange-500 font-semibold">
            <a href="{{ "tags" | absURL}}/{{ $tagName | urlize }}">R-15</a>
          </span>
          {{ end }}
          {{ with .Params.tags }}
          {{ range . }}
          {{ if and (not (in $r18tags .)) (not (in $r15tags .)) }}
          <span class="text-sm inline-flex leading-4 content-center justify-center text-cyan-600">
            <a href="{{ "tags" | absURL}}/{{ . | urlize }}">#{{ . }}</a>
          </span>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
        <time id="date" class="text-xs text-neutral-500 dark:text-neutral-300">{{ .Date.Format "2006/01/02 15:04" }}</time>
      </div>
    </div>
    {{ partial "settings_panel.html" . }}
    <div class="bg-white dark:bg-neutral-800 pt-10 border-b border-neutral-200 dark:border-neutral-800" id="content-bg">
      <div class="mx-auto max-w-2xl">
        <div class="prose prose-sm lg:prose-base max-w-none dark:prose-invert py-3 px-5" id="article-content">
          {{ .Content | replaceRE "\\{([^|]+)\\|([^}]+)\\}" "<ruby>$1<rt>$2</rt></ruby>" | safeHTML }}
        </div>
      </div>
    </div>
    <div class="bg-white dark:bg-neutral-800 pt-2 pb-12 px-4" id="sns-bg">
      <div class="mx-auto max-w-2xl">
        {{ partial "sns_share.html" . }}
      </div>
    </div>
    <div class="bg-white dark:bg-neutral-700 p-7 rounded-b-xl">
      <div class="mx-auto max-w-2xl">
        {{ partial "comments.html" . }}
      </div>
    </div>
  </div>
  <div class="mt-8 ml-5 lg:w-1/4 font-bold lg:block hidden">
    {{ with .Params.authors }}
    <div class="px-4 dark:text-white">
      {{ range . }}
      <a href="{{ "authors" | absURL }}/{{ . | urlize }}" class="hover:underline lg:flex mb-3">
        <div>
          {{ if $.Params.avatar }}
          <img src="{{ $.Params.avatar | relURL }}" class="w-11 rounded-full" />
          {{ else }}
          <img src="/img/avatar.svg" class="w-11 rounded-full" />
          {{ end }}
        </div>
        <p class="mt-2 ml-2">{{ . }}</p>
      </a>
      {{ end }}
    </div>
    {{ end }}
    <div class="mt-7">
      {{ $filteredPosts := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
      {{ $relatedPosts := shuffle $filteredPosts | first 5 }}
      {{- if $relatedPosts }}
      <div class="rounded-xl panel mb-3 pb-5">
        <p class="mx-4 text-base text-gray-700 dark:text-white pt-5">{{ i18n "others" }}</p>
        <div class="mx-4">
          {{ range $relatedPosts }}
          <a href="{{ .RelPermalink }}" class="">
            <div class="px-2 py-1 rounded w-full block dark:hover:bg-neutral-800 hover:bg-gray-200 duration-200">
              <div class="text-gray-900 dark:text-gray-100 text-base">{{.Title}}</div>
            </div>
            {{- end }}
          </a>
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
